main {
    .body {
        .nav-item {
            color: $text-light-color;
            font-size: 17px;
            text-transform: initial;
            text-decoration: none;
            padding: 0 0 10px;
            transition: color 400ms ease-in-out, border 100ms ease-in-out;
            margin-right: 30px;
            border: none;
            outline: none;

            &.active {
                background: none;
                color: $text-dark-color;
                font-weight: 600;
                border-bottom: 3px solid $primary-color;
            }

            &:hover {
                transition: color 400ms ease-in-out, border 100ms ease-in-out;
                color: $text-dark-color;
                border-bottom: 3px solid $primary-color;
            }
        }

        .status {
            button {
                float: left;
            }
        }
        .tab-content {
            margin-top: 30px;
        }
    }
}
